*{margin: 0; padding: 0; /* box-sizing: border-box*/; }
:root{
    font-size: 16px;
    font: black ;
}
body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url("../imagens/NOVA_CARREIRA.jpg");
    background-color: #5b859a;
    background-repeat: no-repeat;
    background-size: 100%;
} 
a{
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

/* HEADER */

header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    background-color: rgba(16,16,16,.25);
    position: sticky;
    top: 0px;
    left: 0px;

    font-weight: bold;
}
.menu-header{
    display: flex;
}
.menu-header li {
    margin-left: 20px;
}
.menu-header li a {
    display: block ;
    padding: 10px;
    background: tomato;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 20px 5px ;
    color:rgb(245, 245, 245);
 }
nav a:hover{
    alerta
    background-color: rgb(176, 224, 230, .5);
    color: black;
}

/*NAV- MENU LATERAL   */


.menu-icon{
   position: fixed; 
   font-size: 25px;
    font-weight: bold;
    padding: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: rgba(16, 16, 16, .25) ;
    color:whitesmoke ;
    cursor: pointer;
    transition: all .3s;
    left: 0px;
  /*  z-index: 1;*/
}
#chec {
    display: none;
    position: absolute;
}
.menu-icon:hover{
    background-color:rgba(127, 202, 240, .65);
    color: #5b859a;
}

.menu {
    
    height: 75%;      
    position:absolute;
    overflow: hidden;
    transition: all .3s;
    
}
#principal {
    top: 77px ;
    background-color: rgba(16,16,16,.25);
    width: 300px; 
    left: -300px;
}        
#curriculo {
    top: 77px;
    width: 300px; 
    left: -300px;
    background-color: rgb(16, 16, 16);
 
}   

ul li a {
    display: block;
    font-size: 1.1rem;
    padding: 10px;
    border-bottom: solid 1px white;
    color: #ccc ;
    text-decoration: none;
    transition: all .2s;
}

ul li span {
    float: right; 
   padding-right: 10px;
}

ul li a:hover {
    background-color: #5b859a;
}
.voltar {
    margin-top: 61px;
    background-color: #111;
    border-left: solid #444;
    
}
.voltar1 {
    margin-top: 61px; 
    background-color: #111;
    border-left: solid #444;
    z-index: 1;
}
.bg{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
#chec:checked ~ .bg{
    display: block;
}

#chec:checked ~ #principal{
 
    transform: translateX(300px);
    
}

#curriculo:target {
    transform: translateX(300px);
    box-shadow: 2px 2px 5px 2px rgba (0,0,0, 1); 
}
 
.menu-lat {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*MAIN- PRINCIPAL*/ 

.index {             /*main*/
    
    padding: 5px;
    background-color:rgba(127, 202, 240, .65);
    border-radius: 25px;
    top: 20px;
    bottom: 10px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    z-index: -1;
    text-align : center;
} 
.cabecalho {
    border-radius: 5px;  
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
}
.cabecalho-img-perfil {
   margin-top: 15px;
   border-radius: 50%;
}
    
    /*MAIN- todas as pag filhas*/ 

 .objetivosprofissionais, .dadospessoais, .falecomigo, .formacaoacademica, 
 .fotos, .hobbies, .depoimento, .incricao {             /*main*/
    padding: 5px;
    background-color:rgba(127, 202, 240, .65);
    border-radius: 25px;
    top: 20px;
    bottom: 10px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    z-index: -1;
    text-align : center;
    
} 

.experienciaprofissional, .fotos { 
    padding: 5px;
    background-color:rgba(127, 202, 240, .65);
    border-radius: 25px;
    top: 20px;
    bottom: 10px;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10%;
    z-index: -1;
    text-align : center;
    }

    .expp-objp-artigo-conteudo {
        text-align:  justify;
    }

.objp-artigo {
    text-align: center;
    font-style: italic;
    background-color: #faf5f5;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15PX;
    margin-left: 15PX;
    border-radius: 15px;
}

.objp-artigo-titulo {
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 1px;
    color: black;
}

.objp-artigo-conteudo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 1%;
    text-align: center;
    color: rgb(3, 35, 94);
    padding: 5px;
}



.objp-artigo-falecmg {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    border-bottom: solid 1px rgba(127, 202, 240, .65);;
    color: rgb(3, 35, 94);
    text-decoration: none; 
    margin-top: 5px;
    margin-bottom: 1%;
    text-align: center;
    border-radius: 10px;
    transition: all .2s;
   
}


.objp-artigo-falecmg:hover {
    background-color: #5b859a;
    color: rgb(252, 249, 249);
}


 /* fotos*/

#fotos {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    padding: 50px;
    background-color: rgba(16,16,16,..05)
}

#fotos li span {
    color: #153755;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
 
}

#li-id:nth-child(even) {
    transform: rotate(5deg);
    }
#li-id:nth-child(odd) {
    transform: rotate(-5deg);
    }

#li-id:hover {
    transform: scale(1.3);
    z-index: 2;
}


/* footer   */ 

footer  { 
    padding: .5rem;
    text-align: center;
    background-color: rgba(16, 16, 16, .25);
    color: rgb(252, 249, 249);
    left: 0;    
    bottom: 0;
    right: 0;
}

#ag { 
    font-size: 14px;
}

/*INSCRICAO*/

label {
   
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 190px;
    left: 100px;
}
input {
    position: sticky;
    display: inline-block;
    width: 200px;
    border: 2px solid #CCC;
    box-shadow: inset 2px 2px 2px rgb(19, 17, 78);
    font-size: 0.9em;
    padding: 2px 5px;
    left: 200px;
  }     
  .hint {
    background-color: #FFFBE4;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: none;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 3px;
    }
    
input:focus + .hint {
    display: inline-block;
    }        

.error {
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
    padding-left: 10px;
} 
button {
    background-color: #3864d3;
    border-radius: 13px;
    border: 1px solid #588129;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

button:hover { 
     background-color: #96f529;
     background-image: none;
     border-color: #1A3754;                   
     color: #000;
}
    
/*  */